<div>
    <div class="settings-area">
        <h2>Settings</h2>
        <div>
            <div class="text-input settings-section">
                <p>Content:</p>
                <textarea (input)="valueChanged($event.target.value, 'rawString')"></textarea>
            </div>
            <div class="rowColSelect settings-section">
                <div>
                    <p>Rows:</p>
                    <p>Columns:</p>
                </div>
                <div>
                    <input (change)="valueChanged($event.target.value, 'rows')" type="number" value="{{rows}}" />
                    <input (change)="valueChanged($event.target.value, 'columns')" type="number" value="{{columns}}" />
                </div>
            </div>
            <div class="others settings-section">
                <div>
                    <p>Boards:</p>
                    <input type="number" value="{{numOfBoards}}" (change)="valueChanged($event.target.value, 'numOfBoards')"/>
                </div>
                <div>
                    <p>Shuffle:</p>
                    <input type="checkbox" value="{{doShuffle}}" (change)="valueChanged($event.target.checked, 'doShuffle')" />
                </div>
                <div>
                    <p>Cell width:</p>
                    <input type="number" value="{{cellWidth}}" (change)="valueChanged($event.target.value, 'cellWidth')" />
                </div>
                <div>
                    <p>Cell height:</p>
                    <input type="number" value="{{cellHeight}}" (change)="valueChanged($event.target.value, 'cellHeight')" />
                </div>
                <div>
                    <p>Border width:</p>
                    <input disabled type="number" value="{{cellBorderWidth}}" (change)="valueChanged($event.target.value, 'cellBorderWidth')" />
                </div>
                <div>
                    <p>Border color:</p>
                    <div (click)="$event.target.nextSibling.style.display = $event.target.nextSibling.style.display == 'inline-block' ? 'none' : 'inline-block'" [style.backgroundColor]="cellBorderColor" [style.height.px]="16" [style.width.px]="16"></div>
                    <color-chrome [color]="cellBorderColor" (onChangeComplete)="valueChanged($event.color.hex, 'cellBorderColor')"></color-chrome>
                </div>
            </div>
        </div>
        <p style="display: inline-block;">Delimiter:</p><select class="settings-section">
            <option *ngFor="let delimiter of delimiters" selected="stringDelimiter == delimiter" (click)="valueChanged(delimiter, 'stringDelimiter')" value="delimiter">
                <b>{{delimiter.displayName}}</b>
            </option>
        </select>
    </div>
    <div class="board-section" *ngFor="let board of boards">
        <app-detail-board [content]="board" [tileHeight]="cellHeight" [tileWidth]="cellWidth" [tileBorderWidth]="cellBorderWidth" [borderColor]="cellBorderColor"></app-detail-board>
    </div>
</div>