<div>
    <div class="settings-area">
        <h2>Settings</h2>
        <div>
            <div class="text-input settings-section">
                <p>Content:</p>
                <textarea (input)="valueChanged($event.target.value, 'rawString')"></textarea>
            </div>
            <div class="rowColSelect settings-section">
                <div>
                    <p>Rows:</p>
                    <p>Columns:</p>
                </div>
                <div>
                    <input type="number" min="1" [ngModel]="rows" (ngModelChange)="valueChanged($event, 'rows')" />
                    <input type="number" min="1" [ngModel]="columns" (ngModelChange)="valueChanged($event, 'columns')" />
                </div>
            </div>
            <div class="others settings-section">
                <div>
                    <p>Boards:</p>
                    <input min="1" type="number" [ngModel]="numOfBoards" (ngModelChange)="valueChanged($event, 'numOfBoards')" />
                </div>
                <div>
                    <p>Shuffle:</p>
                    <input type="checkbox" [ngModel]="doShuffle" (ngModelChange)="valueChanged($event, 'doShuffle')" />
                </div>
                <div>
                    <p>Cell width:</p>
                    <input min="5" type="number" [ngModel]="cellWidth" (ngModelChange)="valueChanged($event, 'cellWidth')" />
                </div>
                <div>
                    <p>Cell height:</p>
                    <input min="5" type="number" [ngModel]="cellHeight" (ngModelChange)="valueChanged($event, 'cellHeight')" />
                </div>
                <div>
                    <p>Border width:</p>
                    <input min="0" disabled type="number" [ngModel]="cellBorderWidth" (ngModelChange)="valueChanged($event, 'cellBorderWidth')" />
                </div>
                <div>
                    <p>Border color:</p>
                    <div (click)="$event.target.nextSibling.style.display = $event.target.nextSibling.style.display == 'inline-block' ? 'none' : 'inline-block'" [style.backgroundColor]="cellBorderColor" [style.height.px]="16" [style.width.px]="16"></div>
                    <color-chrome [color]="cellBorderColor" (onChangeComplete)="valueChanged($event.color.hex, 'cellBorderColor')"></color-chrome>
                </div>
            </div>
        </div>
        <p style="display: inline-block;">Delimiter:</p>
        <select class="settings-section" [ngModel]="stringDelimiter" (ngModelChange)="valueChanged($event, 'stringDelimiter')">
            <option *ngFor="let delimiter of delimiters" [ngValue]="delimiter">
                <b>{{delimiter.displayName}}</b>
            </option>
        </select>
    </div>
    <div class="board-section">
        <app-detail-board *ngFor="let board of boards" [content]="board" [tileHeight]="cellHeight" [tileWidth]="cellWidth" [tileBorderWidth]="cellBorderWidth" [borderColor]="cellBorderColor"></app-detail-board>
    </div>
</div>