:host {
    margin: 0;
    overflow: hidden;

    > div {
        display: block;
        width: fit-content;

        > div {
            background-color: white;
            display: inline-block;
            margin-left: 1px;
            margin-top: 1px;
            // border-bottom: 0px none;
            // border-right: 0px none;

            // [style.border-color]="'black'" 
            // [style.border-width.px]="tileBorderWidth"
            // [style.border-style]="'solid'"

            > p {
                position: relative;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                margin: 0;
                word-wrap: break-word;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        > div:last-child {
            margin-right: 1px;
            //margin-bottom: 1px;
        }
    }

    > div:last-child {
        > div {
            margin-bottom: 1px;
        }
    }
}